body{
  padding: 10px;
  background-image: url(imagen.png);
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-size: cover;
}
.caja_lider{
  border: 2px solid ;
  background-color: rgba(189, 90, 139, 0.836);
  display: flex;
  flex-direction: column;
  border-radius: 10px;
  text-align: center;
  
}
h2{
  color: rgb(45, 32, 56);
  background-color: rgb(255, 71, 126);
}
li a{
  background-color: rgb(165, 42, 83);
  text-decoration: none;
  padding: 10px;
  gap: 20px;
  border-radius: 20px;
  color: black;
}
li a:hover{
  background-color: blueviolet;
}