body {
  font-family: "Ole", cursive;
  font-weight: 400;
  font-style: normal;
  background-image: url(./images/color-815554_640.png);
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  margin: 0;
  padding: 20px;
}

h1 {
  text-align: center;
  margin-bottom: 20px;
}

.card {
  background: #7e7e83;
  padding: 20px;
  border-radius: 20px;
  max-width: 600px;
  margin: auto;
  box-shadow: 0 3px 7px rgba(0, 0, 0, 0.1);
}

.form-grid {
  display: grid;
  grid-template-columns: 150px 1fr 150px;
  gap: 15px;
  align-items: center;
}

.form-grid label {
  font-weight: bold;
}

.form-grid input {
  padding: 6px;
  width: 50%;
  box-sizing: border-box;
}

input,
button {
  padding: 8px;
  margin: 5px 0;
}

.btn-form {
  padding: 8px 15px;
  cursor: pointer;
  border: none;
  border-radius: 10px;
  background-color: #6d0a0a;
  font-family: "Dela Gothic One", sans-serif;
  font-weight: 400;
  font-style: normal;
  transition: all 0.5s ease;
}

.btn-form:hover {
  transform: scale(1.2);
  background-color: #00ff80;
  border-radius: 50px;
}



.producto-preview {
  grid-column: 3;
  grid-row: 1 / span 3;

  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;

  gap: 15px;
}

#previewProducto {
  width: 120px;
  height: 120px;
  object-fit: contain;

  border-radius: 10px;
  background-color: rgba(255, 255, 255, 0.2);
  padding: 5px;
}

.producto-preview .btn-form {
  width: 120px;
}


table {
  width: 100%;
  border-collapse: collapse;
  margin-top: 20px;
}

th,
td {
  padding: 10px;
  text-align: center;
  border-bottom: 2px solid #2a4f96;
}

tr.low-stock {
  background: #ffe6e6;
}

button {
  cursor: pointer;
}

#btnFinalizar {
  background-color: #2ecc71;
  color: white;
  padding: 10px 15px;
  border: none;
  cursor: pointer;
  border-radius: 5px;
}

#btnFinalizar:hover {
  background-color: #27ae60;
}

.total {
  font-size: 1.2rem;
  font-weight: bold;
  margin-top: 10px;
  text-align: right;
}

.edit-input {
  width: 70px;
}
footer{
    font-size: 15px;
    text-align: center;
}